In [255]:
#mengimport library yang di butuhkan
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [256]:
df = pd.read_csv('movies.csv') #membaca file .csv yang akan di gunakan
df = df.loc[:, ['Genre' , 'Film', ]] # memilih genre dan song name untuk di tampilkan
df.head() # menampilkan 5 data teratas

                   Genre                                Film
0    ['Drama', 'Comedy']                 Water For Elephants
1  ['Comedy', 'Romance']  You Will Meet a Tall Dark Stranger
2   ['Drama', 'Romance']                            Waitress
3  ['Comedy', 'Romance']               What Happens in Vegas
4  ['Comedy', 'Romance']                     Youth in Revolt

In [257]:
# untuk memecah genre yang ada
def parse_genre(x):
  x = x[1:-1] # menghilangkan "[" dan "]" pada genre
  l = x.split(', ') # memisahkan tiap genre jika terdapat ", "
  genre_list = [] # membuat list kosong
  #perulangan yang berfungsi untuk menghilangkan quotes "" dan hanya menyisakan ''
  for genre in l:
    genre_list.append(genre[1:-1]) 

  return genre_list

data = list(df['Genre'].apply(lambda x:x[1:-1].split(', ')))
data[:3] # menampilkan 3 data

[["'Drama'", "'Comedy'"], ["'Comedy'", "'Romance'"], ["'Drama'", "'Romance'"]]

In [258]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data) # transform data into group of genres
df = pd.DataFrame(te_data,columns=te.columns_)
df.astype(np.int8).head()

   'Action'  'Animation'  'Comedy'  'Drama'  'Fantasy'  'Romance'
0         0            0         1        1          0          0
1         0            0         1        0          0          1
2         0            0         0        1          0          1
3         0            0         1        0          0          1
4         0            0         1        0          0          1

In [259]:
df1 = apriori(df, min_support=0.1, use_colnames=True) # mencari frequent value dari genre menggunakan apriori algorithm
df1

    support               itemsets
0  0.736842             ('Comedy')
1  0.342105              ('Drama')
2  0.828947            ('Romance')
3  0.171053    ('Drama', 'Comedy')
4  0.565789  ('Romance', 'Comedy')
5  0.171053   ('Romance', 'Drama')

In [260]:
rules = association_rules(df1, metric="lift", min_threshold=1) # membuat association rules
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []